
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(215, 247, 247);
}

header {
  width: 100%;
  height: 40px;
  background-color: burlywood;
  margin-bottom: 40px;

}

.head {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  margin: auto;
  background-color: rgb(210, 247, 247);
}

.head-left{
  width: 70%;
  height: 100%;
  display: flex;
  gap: 40px;
  padding: 3px 10px;
  align-items: center;
  justify-content: start;
  /* background-color: aliceblue; */
}

.head-right {
  width: 20%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* background-color: beige; */
}

.progress-line {
  width: 100%;
  height: 4px;
  background-color: rgb(204, 187, 251);
}

.progress {
  width: 60%;
  height: 100%;
  margin-top: 5px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(136, 0, 248);
}

  /* BODY-SECTION */

.list-container {
  width: 100%;
  height: auto;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: blanchedalmond; */
}

.pagecount {
  width: 25%;
  height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgb(205, 245, 231);
}

.question {
  max-width: 80%;
  min-width: 40%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 10px;
  /* background-color: aliceblue; */
}

form {
  width: 70%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 40px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(160, 231, 231); */
}

.options-list {
  width: 79%;
  min-width: 250px;
  height: 30px;
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
  border-radius: 9px;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid rgb(121, 111, 155);
  /* background-color: aquamarine; */
}

.options-list:hover {
  transition: all .2s;
  width: 79.5%;
  height: 31px;
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  border-radius: 6px;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(190, 234, 245);
  border: 2px solid rgb(113, 84, 215);
  box-shadow: 0 0 9px .1px rgba(194, 212, 249, 0.778);
}

.options-list:active {
  transition: all .2s;
  width: 79.5%;
  height: 31px;
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  border-radius: 6px;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(153, 213, 228);
  border: 2px solid rgb(96, 67, 205);
  box-shadow: 0 0 9px .1px rgba(167, 188, 232, 0.848);
}

.form-holder{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-direction: column;
}

label {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  break-after: inherit;
  align-items: center;
  /* background-color: rgb(217, 215, 250); */
}

.button-container {
  width: 70%;
  height: auto;
  gap: 10px;
  height: 50px;
  display: flex;
  margin: auto;
  justify-content: center;
  /* background-color: rgb(94, 244, 124); */

}

button.submit {
  width: 30%;
  min-width: 100px;
  height: 40px;
  display: grid;
  border-radius: 9px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}





   /* CHANGE QUESION */

.container2, .container3, .container4, .container5 {
  display: none;
}