
* {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(215, 247, 247);
}

header {
  width: 100%;
  height: 30px;
  background-color: burlywood;
  margin-bottom: 20px;

}

.head {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  margin: auto;
  background-color: rgb(210, 247, 247);
}

.head-left{
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
  gap: 40px;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}


.head-right {
  width: 30%;
  display: flex;
  gap: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 245, 231);
}

.progress-line {
  width: 50%;
  height: 10px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: rgb(204, 187, 251);
}

.progress {
  width: 60%;
  height: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(136, 0, 248);
}

.page-details {
  width: 95%;
  margin: 20px auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.page-details p{
  display: flex;
  /* background-color: #000; */
}

  /* BODY-SECTION */

.app {
  /* background-color: aqua; */
  border-radius: 10px;
}

.app h3 {
  font-weight: 25px;
  font-size: 22px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1.3px solid #333;
  padding-bottom: 20px;
}

.quiz {
  padding: 20px 0;
}

.quiz h3 {

}

.list-container {
  overflow-x: hidden;
  width: 80%;
  margin: auto;
  height: auto;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: blanchedalmond; */
}

.pagecount {
  width: 35%;
  height: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgb(205, 245, 231);
}

.question {
  max-width: 90%;
  min-width: 40%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 10px;
  /* background-color: aliceblue; */
}

/* #answer-buttons {
  width: 80%;
  height: auto;
  background-color: aqua;
} */

.form-container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(17, 75, 75); */
}


.down-button-container {
  width: 95%;
  display: flex;
  margin: auto;
  max-width: 500px;
  /* background-color: blueviolet; */
}

.option {
  width: 96%;
  min-width: 200px;
  height: 45px;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  border-radius: 9px;
  align-items: center;
  margin: auto;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 2px solid rgb(121, 111, 155);
  background-color: rgb(199, 232, 241);
}

.option:hover {
  transition: all .2s;
  width: 100%;
  height: 42px;
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  border-radius: 6px;
  align-items: center;
  margin: auto;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: rgb(102, 161, 176);
  border: 2px solid rgb(113, 84, 215);
  box-shadow: 0 0 9px .1px rgba(194, 212, 249, 0.778);
}

.option:active {
  transition: all .2s;
  width: 98.8%;
  height: 43.5px;
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  border-radius: 6px;
  align-items: center;
  margin: auto;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: rgb(153, 213, 228);
  color: #fff;
  border: 2px solid rgb(96, 67, 205);
  box-shadow: 0 0 9px .1px rgba(167, 188, 232, 0.848);
}

.form-holder{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rosybrown; */
}


button.submit {
  width: 30%;
  min-width: 70px;
  max-width: 180px;
  height: 40px;
  display: grid;
  border-radius: 9px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

.correct {
  background-color: rgb(43, 67, 203);
}

.incorrect {
  background-color: chocolate;
}

.option {
  /* background-color: aquamarine; */
  margin-bottom: 10px;
  border-radius: 10px;
}

#result-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(240, 251, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.score {
  width: 80%;
  height: auto;
  /* padding: 10px; */
  margin: 10px auto;
  font-size: 18px;
  font-weight: 560;
}

.change-color {
  color: rgb(0, 42, 255);
}
